---
import CookieBanner from '../components/CookieBanner.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import { siteContent, type Locale } from "../data/siteContent";
import Head from "../components/Head.astro";

interface Props {
  locale: Locale;
  title: string;
}

type PageKey = 'home' | 'about' | 'projects' | 'contact';

const { locale, title } = Astro.props;
const content = siteContent[locale];
const alternateLocale = locale === "fr" ? "en" : "fr";
const alternatePath =  Astro.url.pathname.replace(`/${locale}`, `/${alternateLocale}`) ||  `/${alternateLocale}`;

const pathParts = Astro.url.pathname.split("/").filter(Boolean);
const pageKey: PageKey = (pathParts[1] as PageKey) ?? 'home';

const seo = content[pageKey];
---

<!doctype html>
<html lang={locale}>
  <head>
    <Head
      title={seo.title}
      description={seo.meta_description}
    />
  </head>
 <body>
    <header class="site-header">
      <div class="container nav-wrapper">
        <a class="logo" href={`/${locale}`}>MauDev</a>
        <nav>
          <ul class="nav-list">
            {content.navigation.map((item) => (
              <li><a href={item.href}>{item.label}</a></li>
            ))}
          </ul>
        </nav>
        <a class="lang-switch" href={alternatePath}>{content.alternateLanguageLabel}</a>
      </div>
    </header>

    <main class="container content">
      <slot />
    </main>
    <div class="container">
      <CookieBanner locale={locale} />
    </div>
    <Footer locale={locale} />
  </body>
</html>


